

h1 {
    color: #000000;
    text-align: center;
}
h2 {
    color: rgb(255, 227, 240);
}
p {
    color: rgb(176, 176, 214);

}
#imagem-principal {
    width: 10%;
    margin-left: 80%;
    border: 5px dotted rgb(77, 39, 35);
    float: left;
    position: absolute;
}

.itens {
    color:  #16f6fd;
    text-decoration: underline;
}
.texto-principal {
    margin-right: 20%;
}